.top-menu > li {
  display: inline-block;
  margin: 0 1px;
  vertical-align: top;
  min-width: 50px;
}

.logo--navbar__center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 4px;
  width: 97px;
  transition: 150ms all ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

.navbar-inverse{
  background-color: #e04f5c;
  &.dark{
    background-color: #1F394E;
  } 
}

#navbar-main {
  .icon-menu {
    .btn {
      box-shadow: none;
      color: #fff;
      background: transparent;
      font-size: 22px;
      padding: 12px 16px;
    }
  }
}

.top-menu {
  margin-bottom: 0;
}

.alert-count {
  position: absolute;
  font-style: normal;
  background: #f44336;
  padding: 1px 5px;
  border-radius: 2px;
  right: 11px;
  top: 9px;
  font-size: 10px;
  line-height: 15px;
  color: #fff;
  z-index: 1;
}

.profile-summary {
  float: right;
  text-align: left;
  padding-top: 5px;
  margin-left: 10px;
}

.user-name {
  font-size: 12px;
  display: block;
  line-height: 14px;
}
